@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}
.text-dark1{
    color: #131313;
}
.text-dark2{
    color: #424242;
}
.text-dark3{
    color: #727272;
}
.text-orange-primary{
    color: #FF900E;
}
.bg-color-light{
    background-color: #ff8f0e28;
}
.nav{
    margin: 0 120px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-item{
    list-style: none;

}
.brand{
    font-weight: bold;
    font-size: 2rem;
}
.nav-link{
    text-decoration: none;
    font-size: 16px;
}

.nav, .banner{
    max-width: 1440px;
}
.banner > img{
    width: 80%;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-bottom: 32px;
}
.banner-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 32px;
    margin-top: 50px;
}
.banner-title{
    width: 50%;
    font-size: 3rem;
}
.primary-btn{
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    font-size: 0.75rem;
    color: white;
    font-weight: 600;
}
.banner-img{
    width: 100%;
}
.team-sect{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.team-container{
    width: 80%;
    display: flex;
    gap: 60px;
}
.team-img-container{
    display: grid;
    width: 40%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.team-img{
    width: 200px;
}
.team-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 55%;
}
.team-title{
    font: 2rem;
}
.team-content button{
    width: 150px;
}

@media screen and (max-width: 576px) {
    .nav, .nav-links{
        flex-direction: column;
        text-align: center;
    }
    .nav{
        gap:20px
    }
    .brand{
        font-size: 1.5rem;
    }
}

